body {
    height: 100%;
    padding: 8px 15px;
    box-sizing: border-box;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.container {
    height: 100%;
}

.header {
}

.body {
    height: 100%;
}

.body-content-outer-wrapper {
    height: 100%;

    vertical-align: middle;
}

.body-content-inner-wrapper {
    height: 100%;
    position: relative;
    overflow: auto;

    background-color: #e8e9ea;
}

.body-content {
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.body-content > div {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    position: relative; /* fix location of key tooltip */
}

.keyContainer,
#associatedTab,
#blockedResources,
#blockedResources > div,
#blockedResourcesInner,
.clicker {
    display: contents;
}

.origin {
  grid-column-start: 1;
}
.switch-container, .key {
  grid-column-start: 2;
}
.tooltipContainer, #nonTrackers{
    grid-column: 1 / 5;
}
.honeybadgerPowered.tooltip{
    grid-column-start: 3;
}
.removeOrigin{
    grid-column-start: 4;
}
#nonTrackers{
    display: block;
}
