body {
    padding: 8px 15px;
    box-sizing: border-box;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.container {
    height: 38em;
}

.header {
}

.body {
    height: 100%;
}

.body-content-outer-wrapper {
    height: 100%;

    vertical-align: middle;
}

.body-content-inner-wrapper {
    height: 100%;
    position: relative;
    overflow: auto;

    background-color: #e8e9ea;
}

.body-content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


div#blockedResourcesContainer > div {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.keyContainer {
    display: contents;
}

.key {}

div#blockedResources {
    display: contents;
}

.body-content-inner-wrapper {
    display: contents;
}

#associatedTab, #blockedResourcesInner, .clicker {
    display: contents;
}

.origin {
  grid-column-start: 1;
}
.switch-container, .key {
  grid-column-start: 2;
}
.tooltipContainer{
    grid-column: 1 / 3;
}
